LifeOS-Web-API/obj/LifeOS-Web-API.csproj.nuget.dgspec.json
LifeOS-Web-API/obj/LifeOS-Web-API.csproj.nuget.g.props
LifeOS-Web-API/obj/LifeOS-Web-API.csproj.nuget.g.targets
LifeOS-Web-API/obj/project.assets.json
LifeOS-Web-API/obj/project.nuget.cache
LifeOS-Web-API/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
LifeOS-Web-API/obj/Debug/net8.0/LifeOS-Web-API.AssemblyInfo.cs
LifeOS-Web-API/obj/Debug/net8.0/LifeOS-Web-API.AssemblyInfoInputs.cache
LifeOS-Web-API/obj/Debug/net8.0/LifeOS-Web-API.assets.cache
LifeOS-Web-API/obj/Debug/net8.0/LifeOS-Web-API.csproj.AssemblyReference.cache
LifeOS-Web-API/obj/Debug/net8.0/LifeOS-Web-API.GeneratedMSBuildEditorConfig.editorconfig
LifeOS-Web-API/obj/Debug/net8.0/LifeOS-Web-API.GlobalUsings.g.cs
